<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abel.wallpaper.change"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.SET_WALLPAPER"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity 
            android:name=".ChangeWallpaperActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </activity>
        <activity android:name="abel.wallpaper.menu.WallpaperMenu" android:label="Menu"></activity>
        <activity android:name="abel.wallpaper.menu.WallpaperSelectOrigin" android:label="Obtener Wallpaper"></activity>
        <activity android:name="abel.wallpaper.menu.WallpaperSelect" android:label="Selección wallpaper"> </activity>
        <receiver android:enabled="true" android:name="ChangeWallpaperStart">
            <intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />				
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>            
        </receiver>
        <service android:name="ChangeWallpaperDaemon">
            <intent-filter>
                <action android:name="abel.wallpaper.change.ChangeWallpaperDaemon"/>
            </intent-filter>
        </service>
        <activity android:name="abel.wallpaper.menu.WallpaperActive"></activity>
    </application>

</manifest>